<!DOCTYPE html>
<html>
  <head>
    <title>Meus Contatos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="" class="navbar-brand">Meus Contatos</a>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
